.footer{
    width: 100%;
    background-color: #04293A;
    color: white;
    display: inline-flex;
    .footer__img {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }
    .footer__h2 {
        color: #D4AC2B;
    }
    .footer__li{
        padding-top: 25rem;
        padding-bottom: 25rem;
    }
}