nav ul li{
    color: white;
    list-style: none;
    display: inline;
    font-size: 25px;
    padding-left: 1rem;
    padding-right: 1rem;
}
header nav ul li{
    color: white;
    list-style: none;
    display: inline;
    font-size: 25px;
    padding-left: 2rem;
    padding-right: 2rem;
}