.sobreNosotros{
    .sobreNosotros__h1{
        color: royalblue;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .sobreNosotros__h2{
        color: seagreen;
        font-family: monospace;
    }
    .sobreNosotros__p{
        font-size: medium;
        font-family: initial;
    }
}